<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.multi_image_picker">
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <activity
            android:name="com.sangcomz.fishbun.ui.picker.PickerActivity"
            android:theme="@style/FishBunTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.sangcomz.fishbun.ui.detail.DetailActivity"
            android:theme="@style/DetailViewTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.sangcomz.fishbun.ui.camera.CameraActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
