<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.multi_image_picker">
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <provider
            android:name="com.sangcomz.fishbun.FishBunFileProvider"
            android:authorities="${applicationId}.fishbunfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.sangcomz.fishbun.BaseActivity"
            android:theme="@style/FishBunTheme" />

        <activity
            android:name="com.sangcomz.fishbun.ui.picker.PickerActivity"
            android:theme="@style/FishBunTheme" />

        <activity
            android:name="com.sangcomz.fishbun.ui.detail.DetailActivity"
            android:theme="@style/DetailViewTheme" />


    </application>

</manifest>
